@import "tailwindcss";

@font-face {
  font-family: "SF Pro Rounded";
  src: url("/fonts/SF-Pro-Rounded-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("/fonts/SF-Pro-Rounded-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.corner-squircle {
  corner-shape: squircle;
}

body {
  background: #111;
}
